---
import data from "../../pageData/films.json";
// export async function getStaticPaths() {
//   return data.pages.map((post) => {
//     return {
//       params: { slug: post.slug },
//       props: { title: post.title, subtitle: post.subtitle, PrimaryColor: post.PrimaryColor, NavTextColor: post.NavTextColor, link: post.link, text: post.text},
//     };
//   });
// }

const { slug } = Astro.params;
const page = data.pages.find((page) => page.slug === slug);
if (!page) return Astro.redirect("/404");
const { title, subtitle, PrimaryColor, NavTextColor, link, text } = page;
import BasicLayout from "../../layouts/BasicLayout.astro";
---

<BasicLayout
	title={title}
	subtitle={subtitle}
	PrimaryColor={PrimaryColor}
	NavTextColor={NavTextColor}
>
	<div class="vertical" style="margin-top: 10%">
    <div class="sixteenNine">
      <iframe
          src={link}
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      ></iframe>
  </div>
    <div>
      <p class="serif project">{text}</p>
    </div>
	</div>
</BasicLayout>

<style>
  iframe {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 60%;
      width: 100%;
  }
  .sixteenNine {
      width: 60%;
      overflow: hidden;
      position: relative;
      padding-top: 56.25%;
      margin-bottom: -20%;
  }
</style>